{% extends "layout.html" %}
{% from "macros/_user.html" import render_user_avatar %}
{% from 'macros/_utils.html' import pagination %}

{% block page_title %}通知 - 中关村字典{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="title">全部通知</div>

        <div class="notifications">
            {% for noti in notifications.items %}
                {% if noti.kind == NOTIFICATION_KIND.UPVOTE_PIECE %}
                    {% set piece = noti.piece %}
                {% else %}
                    {% set piece = noti.piece_comment.piece %}
                {% endif %}

                <div class="noti">
                    {% set senders_count = noti.senders.count() %}


                    <div class="noti-body" data-piece-id="{{ piece.id }}">
                        <span class="senders">
                            {% for sender in noti.senders %}
                                <a href="{{ url_for('user.profile', uid=sender.id) }}"
                                   class="user-avatar">
                                    <img src="{{ sender.avatar_url }}"
                                         class="img-circle" data-toggle="tooltip"
                                         data-placement="bottom" title="{{ sender.name }}"
                                         data-user-id="{{ sender.id }}" alt=""/>
                                </a>
                            {% endfor %}
                        </span>

                        {% if senders_count == 1 %}
                            <span class="dark">{{ noti.senders.first().name }}</span>
                        {% elif senders_count > 4 %}
                            等{{ senders_count }}人
                        {% endif %}

                        {% if noti.kind == NOTIFICATION_KIND.UPVOTE_PIECE %}
                            赞了 <span class="dark">{{ piece.word.word }}</span>
                        {% elif noti.kind == NOTIFICATION_KIND.COMMENT_PIECE %}
                            评论了 <span class="dark">{{ piece.word.word }}</span>
                        {% elif noti.kind == NOTIFICATION_KIND.COMMENT_PIECE_COMMENT %}
                            在 <span class="dark">{{ piece.word.word }}</span> 中回复了你
                        {% endif %}
                    </div>

                    {% if noti.last_in_that_day(g.user.id) %}
                        <div class="date-wap">
                            <div class="day">{{ noti.created_at.date()|day }}</div>
                            <div class="month">{{ noti.created_at.date()|cn_month }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {% if notifications.pages > 1 %}
            {{ pagination(notifications) }}
        {% endif %}
    </div>
{% endblock %}
