{% extends "layout.html" %}
{% from 'macros/_form.html' import vertical_field, form_submit %}
{% from 'macros/_utils.html' import upload_and_crop_image %}

{% block page_title %}设置 - 中关村字典{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="page-title">设置</div>

        <div class="setting-item clearfix">
            <div class="key">消息通知设置</div>
            <div class="control">
                <label>
                    <input type="checkbox" {% if g.user.receive_comments_notification %}checked{% endif %}
                           data-key="receive_comments_notification"> 接收评论通知
                </label>
                <label>
                    <input type="checkbox" {% if g.user.receive_votes_notification %}checked{% endif %}
                           data-key="receive_votes_notification"> 接收点赞通知
                </label>
            </div>
        </div>

        <div class="setting-item clearfix">
            <div class="key">个人资料</div>
            <div class="control">
                <a href="{{ url_for('user.profile', uid=g.user.id) }}" class="btn btn-default">
                    去个人主页修改头像、称呼、签名 <span class="fa fa-angle-double-right"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
