{% extends "layout.html" %}

{% block page_title %}关于 - 中关村字典{% endblock %}
{% block page_content %}
    <a href="https://github.com/hustlzp/zhongguan">
        <img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;"
             src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-grey@2x.png" alt="Fork me on GitHub">
    </a>

    <div class="members clearfix">
        <div class="member">
            <img src="/static/image/hardin.png" alt="hardin">

            <div class="name">hardin</div>
        </div>

        <div class="member">
            <a href="http://hustlzp.com" target="_blank">
                <img src="/static/image/hustlzp.png" alt="hustlzp">
            </a>

            <div class="name">hustlzp</div>
        </div>
    </div>

    <div class="qrcode-wap">
        <img src="/static/image/qrcode.jpg" class="qrcode" alt="qrcode">

        <div class="tip">Meet us in this <img src="/static/image/wechat_logo.png" width="" alt=""> 微信群</div>
    </div>

    <div class="slogan">
        "Where art meets technology"
    </div>
{% endblock %}
