{% extends "layout.html" %}
{% from 'macros/_utils.html' import pagination %}
{% from "macros/_collection.html" import render_collections %}

{% block page_title %}浏览字典 - 中关村字典{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="header">
            <div class="current-selector-outer-wap">
                <div class="current-selector-wap">
                    <div class="current-selector">
                        {% if first_letter %}
                            {{ first_letter|upper }}
                        {% else %}
                            全部
                        {% endif %}
                    </div>

                    <div class="caret-wap">
                        <span class="fa fa-caret-up caret-up"></span>
                        <span class="fa fa-caret-down caret-down"></span>
                    </div>
                </div>
            </div>

            <div class="selectors-outer-wap">
                <div class="selectors-wap">
                    <a href="{{ url_for('site.collections') }}"
                       class="selector {% if not first_letter %}active{% endif %}">全部</a>

                    {% for letter in letters %}
                        <a href="{{ url_for('site.collections', first_letter=letter) }}"
                           class="selector {% if first_letter == letter %}active{% endif %}">
                            {{ letter|upper }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="words">
            {% for word in words %}
                <a href="{{ url_for('site.pieces', word_id=word.id) }}" class="word">{{ word.word }}</a>
            {% endfor %}
        </div>

        <div class="words-count">{{ words.count() }} 个词</div>
    </div>
{% endblock %}
