{% extends "layout.html" %}
{% from "macros/_piece.html" import render_pieces_by_date, render_piece_modal_wap %}
{% from "macros/_word.html" import render_word_modal_wap %}

{% block page_title %}中关村字典{% endblock %}
{% block page_vars %}
    <script type="text/javascript">
        g.startDate = "{{ start_date }}";
    </script>
{% endblock %}
{% block page_content %}
    <div class="header clearfix">
        <div class="logo-wap pull-left">
            <div class="media">
                <div class="media-left">
                    <img src="{{ static('image/logo.png') }}" alt="">
                </div>
                <div class="media-body">
                    <div class="product-name">中关村字典</div>
                    <div class="slogan">在这里解释互联网</div>
                </div>
            </div>
        </div>

        <div class="commands-wap pull-right">
            <button class="btn-add-piece-from-index btn btn-default">+ 创建新词条</button>
        </div>
    </div>

    {% if piece %}
        <div class="piece">
            <div class="word">
                {{ piece.word.word }}
            </div>

            <div class="text-center">
            <span class="qrcode-in-index-page">
                <span class="fa fa-qrcode btn-show-qrcode"></span>

                <div class="share-popover">
                    <div class="piece-word">{{ piece.word.word }}</div>

                    <img src="{{ piece.qrcode_url }}" class="piece-qrcode" alt=""/>

                    <div class="tip">
                        <img src="{{ static('image/wechat.png') }}" class="wechat-icon">&nbsp;&nbsp;微信扫一扫,分享到朋友圈
                    </div>
                </div>
            </span>
            </div>

            <div class="content">{{ piece.friendly_content|safe }}</div>

            {% if piece.sentence %}
                <div class="sentence-wap">
                    <div class="sentence-title">例句</div>
                    <div class="sentence">{{ piece.friendly_sentence|safe }}</div>
                </div>
            {% endif %}

            <div class="piece-commands-wap">
                <button class="btn btn-primary btn-lg">
                    <span class="fa fa-caret-up"></span>&nbsp;&nbsp;解释到位
                </button>

                <button class="btn btn-danger btn-lg">
                    <span class="fa fa-caret-down"></span>&nbsp;&nbsp;不给力呀老湿
                </button>
            </div>
        </div>
    {% endif %}

    <div class="add-piece-wap-in-index-page first">
        <div class="first-step">
            <div class="title">创建新词条</div>

            <div class="input-group">
                <input type="text" class="form-control word-input" placeholder="词条名称">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-go-to-second-step" type="button">😂开始</button>
            </span>
            </div>
        </div>

        <div class="second-step">
            <div class="word"></div>

        <textarea class="form-control explanation-textarea" rows="4" name="explanation"
                  placeholder="你的解释，尽量通俗易懂。"></textarea>

            <button class="btn btn-default btn-block btn-add-sentence">
                + 添加例句
            </button>

        <textarea class="form-control sentence-textarea" rows="4" name="sentence"
                  placeholder="添加例句，让解释更生动形象，😂😂😂效果更加"></textarea>

            <div class="text-center btn-submit-piece-wap">
                <button class="btn btn-lg btn-primary btn-submit-piece">发布</button>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="copyright pull-left">
            © 2015 <strong>zidian.tech</strong>
        </div>
        <div class="about-us pull-right">
            Made with 😂in Beijing. <a href="{{ url_for('site.about') }}">关于我们</a>
        </div>
    </div>

    <div class="modal fade modal-need-adjust-height" id="account-modal" tabindex="-1" role="dialog"
         aria-labelledby="account-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="signin-signup-wap">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">注册</a>
                            </li>
                            <li role="presentation">
                                <a href="#signin" aria-controls="signin" role="tab" data-toggle="tab">登录</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="signup">
                                <div class="form-control-wap form-signup">
                                    <input type="text" name="email" placeholder="邮箱" class="form-control">
                                    <input type="password" name="password" placeholder="设置密码" class="form-control">
                                    <input type="text" name="name" placeholder="昵称" class="form-control">
                                </div>

                                <button type="button" class="btn-submit-signup-form" disabled>注册</button>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="signin">
                                <div class="form-control-wap form-signin">
                                    <input type="text" name="email" placeholder="邮箱" class="form-control">
                                    <input type="password" name="password" placeholder="密码" class="form-control">
                                    <script type="text/javascript" src="{{ url }}"></script>
                                    <div class="forgot-pwd-wap">
                                        <a href="javascript: void(0)" class="btn-go-to-forgot-password">忘记密码？</a>
                                    </div>
                                </div>

                                <button type="button" class="btn-submit-signin-form" disabled>登录</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-forgot-password">
                        <div class="title">忘记密码</div>

                        <div class="form-control-wap">
                            <input type="text" name="email" placeholder="邮箱" class="form-control">
                        </div>

                        <button type="button" class="btn-send-reset-password-email" disabled>发送</button>
                    </div>

                    <div class="send-reset-password-email-callback-wap">
                        <div class="title"></div>
                        <div class="message"></div>
                    </div>

                    <div class="form-reset-password">
                        <div class="title">重置密码</div>

                        <div class="form-control-wap">
                            <input type="password" name="password" placeholder="新密码" class="form-control">
                        </div>

                        <button type="button" class="btn-reset-password" disabled>重置</button>
                    </div>

                    <div class="reset-password-callback-wap">
                        <div class="title">密码重置成功</div>

                        <div class="message">请使用新密码登录 <a class="btn-go-to-signin-from-reset-password"
                                                         href="javascript: void(0)">登录</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
