{% macro render_user_avatar(user) %}
    <a href="{{ url_for('user.profile', uid=user.id) }}" class="user-avatar-link" data-toggle="tooltip"
            data-placement="bottom" title="{{ user.name }}">
        <img src="{{ user.avatar_url }}" class="user-avatar user-avatar-popover img-circle"
             data-user-id="{{ user.id }}" alt=""/>
    </a>
{% endmacro %}


{% macro render_user_profile_header(user, active="creates") %}
    <div class="user-profile-header">
        <div class="user-info">
            <img src="{{ user.avatar_url }}" class="user-avatar img-circle" alt=""/>

            <div class="user-name">{{ user.name }}</div>

            {% if user.motto %}
                <div class="motto">{{ user.motto }}</div>
            {% endif %}
        </div>

        <div class="tab clearfix">
            <a class="tab-item {% if active == "votes" %}active{% endif %}"
               href="{{ url_for('user.profile', uid=user.id) }}">
                我点赞的 {{ user.votes_count }}
            </a>
            <a class="tab-item {% if active == "shares" %}active{% endif %}"
               href="{{ url_for('user.shares', uid=user.id) }}">
                我撰写的 {{ user.pieces_count }}
            </a>
            <a class="tab-item {% if active == "voters" %}active{% endif %}"
               href="{{ url_for('user.voters', uid=user.id) }}">
                给我点赞的人 {{ user.voters_count }}
            </a>
        </div>
    </div>
{% endmacro %}
