{% macro render_user_avatar(user, tooltip=True) %}
    <a href="{{ url_for('user.profile', uid=user.id) }}" class="user-avatar-link">
        <img src="{{ user.avatar_url }}" class="user-avatar user-avatar-popover img-circle"
             data-user-id="{{ user.id }}" {% if tooltip %}data-toggle="tooltip"
             data-placement="bottom" title="{{ user.name }}"{% endif %}/>
    </a>
{% endmacro %}


{% macro render_user_profile_header(user, active="creates") %}
    <div class="user-profile-header">
        <div class="user-info">
            <div class="avatar-wap">
                <img src="{{ user.avatar_url }}" class="img-circle user-avatar" alt=""/>
                {% if g.user and g.user.id == user.id %}
                    <span class="btn-upload-avatar">上传头像</span>
                    <input type="file" name="avatar"/>
                {% endif %}
            </div>

            <div class="name-wap">
                <div class="name-outer-wap {% if g.user and g.user.id == user.id %}myself{% endif %}
                    {% if not user.name %}empty{% endif %}">
                    <span class="name-inner-wap">
                        <span class="name">
                            {% if user.name %}{{ user.name }}{% endif %}
                        </span>
                        <span class="text-light for-empty-name"></span>
                        <span class="btn-edit-name">
                            <span class="fa fa-pencil"></span> 编辑
                        </span>
                    </span>
                </div>
                <div class="name-edit-wap">
                    <input type="text" class="form-control input-name" name="name"
                           placeholder="一句话简介" autocomplete="off"/>
                    <button type="button" class="btn btn-default btn-submit-name">保存</button>
                </div>
            </div>

            <div class="motto-wap">
                <div class="motto-outer-wap {% if g.user and g.user.id == user.id %}myself{% endif %}
                    {% if not user.motto %}empty{% endif %}">
                    <span class="motto-inner-wap">
                        <span class="motto">
                            {% if user.motto %}{{ user.motto }}{% endif %}
                        </span>
                        <span class="text-light for-empty-motto">介绍一下自己，让大家认识你</span>
                        <span class="btn-edit-motto">
                            <span class="fa fa-pencil"></span> 编辑
                        </span>
                    </span>
                </div>
                <div class="motto-edit-wap">
                    <input type="text" class="form-control input-motto" name="motto"
                           placeholder="一句话简介" autocomplete="off"/>
                    <button type="button" class="btn btn-default btn-submit-motto">保存</button>
                </div>
            </div>
        </div>

        <div class="tab clearfix">
            <a class="tab-item {% if active == "votes" %}active{% endif %}"
               href="{{ url_for('user.profile', uid=user.id) }}">
                我点赞的 {{ user.votes_count }}
            </a>
            <a class="tab-item {% if active == "shares" %}active{% endif %}"
               href="{{ url_for('user.shares', uid=user.id) }}">
                我撰写的 {{ user.pieces_count }}
            </a>
            <a class="tab-item {% if active == "voters" %}active{% endif %}"
               href="{{ url_for('user.voters', uid=user.id) }}">
                给我点赞的人 {{ user.voters_count }}
            </a>
        </div>
    </div>

    <script>
        (function () {
            var $userHeader = $('.user-profile-header');

            // 上传头像
            var avatarUploader = simple.uploader({
                url: urlFor('user.upload_avatar'),
                fileKey: 'file',
                connectionCount: 1,
                params: {
                    csrf_token: g.csrfToken
                }
            });

            $('.btn-upload-avatar').click(function () {
                $userHeader.find("input[name='avatar']").click();
            });

            $userHeader.find("input[name='avatar']").on('change', function (e) {
                avatarUploader.upload(this.files);
            });

            avatarUploader.on('uploadsuccess', function (e, file, response) {
                if (response.result) {
                    $('.user-avatar').attr('src', response.url);
                }
            });

            // 显示name编辑框
            $userHeader.find('.btn-edit-name').click(function () {
                var name = $.trim($userHeader.find('.name').text());

                $(this).parents('.name-wap').addClass('edit');
                $('.input-name').val(name).focus();

            });

            // 更新name
            $userHeader.find('.btn-submit-name').click(function () {
                var $input = $(this).prev();
                var name = $.trim($input.val());

                $.ajax({
                    url: urlFor('user.update_name'),
                    method: 'post',
                    dataType: 'json',
                    data: {
                        name: name
                    }
                }).done(function (response) {
                    if (response.result) {
                        $userHeader.find('.name').text(name);
                        $userHeader.find('.name-wap').removeClass('edit');

                        if (name === '') {
                            $userHeader.find('.name-outer-wap').addClass('empty');
                        } else {
                            $userHeader.find('.name-outer-wap').removeClass('empty');
                        }
                    }
                });
            });

            // 显示motto编辑框
            $userHeader.find('.btn-edit-motto').click(function () {
                var motto = $.trim($userHeader.find('.motto').text());

                $(this).parents('.motto-wap').addClass('edit');
                $('.input-motto').val(motto).focus();

            });

            // 更新motto
            $userHeader.find('.btn-submit-motto').click(function () {
                var $input = $(this).prev();
                var motto = $.trim($input.val());

                $.ajax({
                    url: urlFor('user.update_motto'),
                    method: 'post',
                    dataType: 'json',
                    data: {
                        motto: motto
                    }
                }).done(function (response) {
                    if (response.result) {
                        $userHeader.find('.motto').text(motto);
                        $userHeader.find('.motto-wap').removeClass('edit');

                        if (motto === '') {
                            $userHeader.find('.motto-outer-wap').addClass('empty');
                        } else {
                            $userHeader.find('.motto-outer-wap').removeClass('empty');
                        }
                    }
                });
            });
        })();
    </script>
{% endmacro %}
