@import "utils";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 400px;
}

// Flash message
.flash-message {
  background-color: @main-color;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 0;
  height: 58px;
  line-height: 58px;
}

// Nav highlight
.page-site-index #nav-index,
.page-site-about #nav-about,
.page-account-signin #nav-signin,
.page-account-signup #nav-signup {
  //  a {
  //    color: #555;
  //    background-color: #e7e7e7;
  //  }
}

.navbar-form {
  margin: 10px 0;
}

.navbar-nav {
  .notifications-count {
    border-radius: 2px;
    background-color: @main-color;
    color: white;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    padding: 2px 5px;
    vertical-align: 1px;
  }

  & > li > a.user-avatar-dropdown-toggle {
    padding: 15px 20px 15px 15px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: @screen-sm-min) {
  #nav-signin {
    padding-right: 4px;
  }

  #nav-signup {
    padding-left: 4px;
  }

  .nav-devider {
    color: #777;
    vertical-align: 1px;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  color: #aaa;
  background-color: #333;

  .bottom-market {
    .logo {
      display: inline-block;
      margin-top: 80px;
      margin-bottom: 10px;
      width: 45px;
    }

    .product-name {
      font-size: 22px;
      color: #fff;
    }

    .slogan {
      margin-bottom: 8px;
    }

    .domain {
      font-family: 'Krungthep', 'Krungthep';
    }
  }

  .other {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;

    .copyright {
      padding-left: 20px;

    }

    .about-us {
      padding-right: 20px;

      a {
        color: #aaa;
        display: inline-block;
        padding-left: 5px;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

