@import "../utils";

.user-profile-header {
  padding-top: 50px;

  .user-info {
    text-align: center;
    margin-bottom: 35px;

    .avatar-wap {
      margin-bottom: 20px;

      .user-avatar {
        width: 90px;
        height: 90px;
      }
    }

    .avatar-wap {
      margin: 0 auto 20px auto;
      width: 120px;
      height: 120px;
      border-radius: 100px;
      box-shadow: 0 0 2px rgba(0, 0, 0, .5);
      position: relative;

      input[type='file'] {
        display: none;
      }

      &:hover .btn-upload-avatar {
        display: block;
      }

      .user-avatar {
        width: 120px;
        height: 120px;
      }

      .btn-upload-avatar {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding-top: 50px;
        background-color: rgba(0, 0, 0, .4);
        text-align: center;
        color: white;
        cursor: pointer;
      }
    }

    .name-wap {
      font-size: 20px;
      text-align: center;

      .name-outer-wap {
        display: block;

        .name-inner-wap {
          position: relative;
          font-weight: bold;

          .for-empty-name {
            display: none;
          }

          .btn-edit-name {
            cursor: pointer;
            color: #999;
            display: none;
            font-size: 14px;
            position: absolute;
            top: 0;
            right: -70px;

            &:hover {
              color: #666;
            }
          }
        }

        &.myself {
          &.empty {
            .name-inner-wap .for-empty-name {
              display: inline-block;
            }
          }

          &:hover {
            .name-inner-wap .btn-edit-name {
              display: inline-block;
            }
          }
        }
      }

      .name-edit-wap {
        display: none;

        input {
          display: inline-block;
          vertical-align: middle;
          width: 400px;
          margin-right: 10px;
        }
      }

      &.edit {
        .name-outer-wap {
          display: none;
        }

        .name-edit-wap {
          display: block;
        }
      }
    }

    .motto-wap {
      margin-top: 12px;
      color: #999;

      .motto-outer-wap {
        display: block;

        .motto-inner-wap {
          position: relative;

          .for-empty-motto {
            display: none;
          }

          .btn-edit-motto {
            cursor: pointer;
            color: #999;
            display: none;
            font-size: 14px;
            position: absolute;
            top: 0;
            right: -70px;

            &:hover {
              color: #666;
            }
          }
        }

        &.myself {
          &.empty {
            .motto-inner-wap .for-empty-motto {
              display: inline-block;
            }
          }

          &:hover {
            .motto-inner-wap .btn-edit-motto {
              display: inline-block;
            }
          }
        }
      }

      .motto-edit-wap {
        display: none;

        input {
          display: inline-block;
          vertical-align: middle;
          width: 400px;
          margin-right: 10px;
        }
      }

      &.edit {
        .motto-outer-wap {
          display: none;
        }

        .motto-edit-wap {
          display: block;
        }
      }
    }

    .media-icons {
      text-align: center;
      margin-top: 15px;
      top: 20px;
      right: 20px;

      a {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

        &:focus,
        &:hover {
          text-decoration: none;
        }

        img {
          border-radius: 2px;
          height: 20px;
        }
      }
    }
  }

  .tab {
    text-align: center;
    border: 1px solid #e0e0e0;

    .tab-item {
      border-right: 1px solid #e0e0e0;
      font-weight: bold;
      text-decoration: none;
      float: left;
      display: block;
      line-height: 1;
      padding: 17px 0;
      color: #8f8f8f;
      width: 33.333333333%;

      &:last-child {
        border-right: none;
      }

      &.active,
      &:hover {
        background-color: #f8f8f8;
        color: #333;
      }
    }
  }
}

/* 用户卡片 */
.popover-content-wap {
  display: none;
}

.user-card {
  padding: 15px 0 2px 0;
  text-align: center;
  width: 130px;
  .default-font-family();

  .user-link {
    display: inline-block;
    margin-bottom: 15px;

    .user-avatar {
      width: 70px;
      height: 70px;
    }
  }

  .user-name {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid @border-color;
    text-align: center;
    padding-bottom: 12px;
  }

  .meta {
    .count-wap {
      width: 33.333333%;
      float: left;

      & > a {
        display: inline-block;
        color: #333;
        padding: 0 5px;

        &:hover {
          color: @main-color;
        }

        .count-quantifier {
          font-size: 12px;
        }
      }
    }
  }
}

.user-avatar-link {
  &:focus,
  &:hover {
    text-decoration: none;
  }

  .user-avatar-popover {
    cursor: pointer;
  }
}
