.user-profile-header {
  padding-top: 50px;
}
.user-profile-header .user-info {
  text-align: center;
  margin-bottom: 35px;
}
.user-profile-header .user-info .avatar-wap {
  margin-bottom: 20px;
}
.user-profile-header .user-info .avatar-wap .user-avatar {
  width: 90px;
  height: 90px;
}
.user-profile-header .user-info .avatar-wap {
  margin: 0 auto 20px auto;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
.user-profile-header .user-info .avatar-wap input[type='file'] {
  display: none;
}
.user-profile-header .user-info .avatar-wap:hover .btn-upload-avatar {
  display: block;
}
.user-profile-header .user-info .avatar-wap .user-avatar {
  width: 120px;
  height: 120px;
}
.user-profile-header .user-info .avatar-wap .btn-upload-avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  cursor: pointer;
}
.user-profile-header .user-info .name-wap {
  font-size: 20px;
  text-align: center;
}
.user-profile-header .user-info .name-wap .name-outer-wap {
  display: block;
}
.user-profile-header .user-info .name-wap .name-outer-wap .name-inner-wap {
  position: relative;
  font-weight: bold;
}
.user-profile-header .user-info .name-wap .name-outer-wap .name-inner-wap .for-empty-name {
  display: none;
}
.user-profile-header .user-info .name-wap .name-outer-wap .name-inner-wap .btn-edit-name {
  cursor: pointer;
  color: #999;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -70px;
}
.user-profile-header .user-info .name-wap .name-outer-wap .name-inner-wap .btn-edit-name:hover {
  color: #666;
}
.user-profile-header .user-info .name-wap .name-outer-wap.myself.empty .name-inner-wap .for-empty-name {
  display: inline-block;
}
.user-profile-header .user-info .name-wap .name-outer-wap.myself:hover .name-inner-wap .btn-edit-name {
  display: inline-block;
}
.user-profile-header .user-info .name-wap .name-edit-wap {
  display: none;
}
.user-profile-header .user-info .name-wap .name-edit-wap input {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  margin-right: 10px;
}
.user-profile-header .user-info .name-wap.edit .name-outer-wap {
  display: none;
}
.user-profile-header .user-info .name-wap.edit .name-edit-wap {
  display: block;
}
.user-profile-header .user-info .motto-wap {
  margin-top: 12px;
  color: #999;
}
.user-profile-header .user-info .motto-wap .motto-outer-wap {
  display: block;
}
.user-profile-header .user-info .motto-wap .motto-outer-wap .motto-inner-wap {
  position: relative;
}
.user-profile-header .user-info .motto-wap .motto-outer-wap .motto-inner-wap .for-empty-motto {
  display: none;
}
.user-profile-header .user-info .motto-wap .motto-outer-wap .motto-inner-wap .btn-edit-motto {
  cursor: pointer;
  color: #999;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: -70px;
}
.user-profile-header .user-info .motto-wap .motto-outer-wap .motto-inner-wap .btn-edit-motto:hover {
  color: #666;
}
.user-profile-header .user-info .motto-wap .motto-outer-wap.myself.empty .motto-inner-wap .for-empty-motto {
  display: inline-block;
}
.user-profile-header .user-info .motto-wap .motto-outer-wap.myself:hover .motto-inner-wap .btn-edit-motto {
  display: inline-block;
}
.user-profile-header .user-info .motto-wap .motto-edit-wap {
  display: none;
}
.user-profile-header .user-info .motto-wap .motto-edit-wap input {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  margin-right: 10px;
}
.user-profile-header .user-info .motto-wap.edit .motto-outer-wap {
  display: none;
}
.user-profile-header .user-info .motto-wap.edit .motto-edit-wap {
  display: block;
}
.user-profile-header .user-info .media-icons {
  text-align: center;
  margin-top: 15px;
  top: 20px;
  right: 20px;
}
.user-profile-header .user-info .media-icons a {
  margin-right: 8px;
}
.user-profile-header .user-info .media-icons a:last-child {
  margin-right: 0;
}
.user-profile-header .user-info .media-icons a:focus,
.user-profile-header .user-info .media-icons a:hover {
  text-decoration: none;
}
.user-profile-header .user-info .media-icons a img {
  border-radius: 2px;
  height: 20px;
}
.user-profile-header .tab {
  text-align: center;
  border: 1px solid #e0e0e0;
}
.user-profile-header .tab .tab-item {
  border-right: 1px solid #e0e0e0;
  font-weight: bold;
  text-decoration: none;
  float: left;
  display: block;
  line-height: 1;
  padding: 17px 0;
  color: #8f8f8f;
  width: 33.333333333%;
}
.user-profile-header .tab .tab-item:last-child {
  border-right: none;
}
.user-profile-header .tab .tab-item.active,
.user-profile-header .tab .tab-item:hover {
  background-color: #f8f8f8;
  color: #333;
}
/* 用户卡片 */
.popover-content-wap {
  display: none;
}
.user-card {
  padding: 15px 0 2px 0;
  text-align: center;
  width: 130px;
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
.user-card .user-link {
  display: inline-block;
  margin-bottom: 15px;
}
.user-card .user-link .user-avatar {
  width: 70px;
  height: 70px;
}
.user-card .user-name {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  padding-bottom: 12px;
}
.user-card .meta .count-wap {
  width: 33.333333%;
  float: left;
}
.user-card .meta .count-wap > a {
  display: inline-block;
  color: #333;
  padding: 0 5px;
}
.user-card .meta .count-wap > a:hover {
  color: #76af61;
}
.user-card .meta .count-wap > a .count-quantifier {
  font-size: 12px;
}
.user-avatar-link:focus,
.user-avatar-link:hover {
  text-decoration: none;
}
.user-avatar-link .user-avatar-popover {
  cursor: pointer;
}
